<div class="page_content_holder">
	<div class="page_title_holder">
		<div class="page_title">Admin</div>
	</div><br/>
	
	<%= link_to "Get recent Last.fm tracks", :controller => 'track', :action => 'lfm_list' %><br/>
	<%= link_to "Set order of all tracks", :action => "set_order_of_all_tracks" %><br/>
</div>