<div class="page_content_holder">
	<div class="page_title_holder">
		<div class="page_title">About</div>
	</div><br/>

	<a href='/'>My Playmary</a> is a musical and personal autobiography.  It shows how my taste in
	music has changed and how old favourites return.  It reminds me of things that have happened
	and how some of them have recurred. An old Bruce Springsteen song that my step-Mum used to play
	on car journeys might become meaningful fifteen years later in a relationship. And I hope that,
	one day, my musical soulmate will start their own Playmary and I will be able to
	follow it and discover all those great bands I don't know about.
	<br/><br/>
	
	<a href='http://maryrosecook.com'>I</a> have made the 
	<a href='http://github.com/maryrosecook/playmary'>code</a> open source.
</div>