<div class="page_title_holder">
	<div class="page_title">
		<% if @show_rss %>
			<div class="follow">
				<a href="<%=itunes_link%>" class="follow_link">
					<img src="/images/itunes.gif" title="Play all tracks in iTunes" width=20 border=0>
				</a> 
				<a href="<%=follow_link%>" class="follow_link">
					<img src="/images/rss.gif" title="Follow via RSS" width=19 border=0>
				</a>
			</div>
		<% end-%>
		<%= title %>&nbsp;
	</div>
</div><br/>
